<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

    <Properties>
        <Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}: %msg%n</Property>
        <Property name="logs">/logs</Property>
    </Properties>

    <Appenders>
        <RollingFile
                name="errors"
                fileName="C:\Users\USER\Desktop\techStoreProject\logs\errors\error_logs.log"
                filePattern="C:\Users\USER\Desktop\techStoreProject\logs\errors\error_logs-%d{yyyy-MM-dd}.%i.log"
                maxBackupIndex="10"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}: %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="25"/>
        </RollingFile>
        <File name="AllLogs" fileName="C:\Users\USER\Desktop\techStoreProject\logs\all.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="AllLogs"/>
            <AppenderRef ref="errors" level="ERROR"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>

